body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100% !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #080810 !important;
  margin: auto;
  max-width: 1920px;
  overflow-x: hidden;
  margin: auto !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0px;
  max-width: 100%;
  width: 90%;
  margin: auto;
}

.header .logo img {
  height: 60px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 52px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a.highlighted {
  background: linear-gradient(to right, #e63946, #ff7e5f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links a span.dropdown {
  font-size: 12px;
}

.frame-item {
  height: 12px;
  width: 19px;
  position: relative;
  margin-left: 10px;
}

.categories-section {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.categories-section .left-g {
  position: absolute;
  width: 460px;
  height: 500.69px;
  bottom: 10%;
  left: -9%;
  background: linear-gradient(
    210.34deg,
    rgba(255, 135, 97, 0.25) 23.19%,
    rgba(0, 0, 0, 0) 108.29%
  );
  backdrop-filter: blur(227.947px);
  border-radius: 0px 1367.68px 0px 0px;
}

.categories-section .right-g {
  position: absolute;
  width: 460px;
  height: 500px;
  right: -12%;
  top: 6%;
  background: linear-gradient(
    210.34deg,
    rgba(255, 129, 227, 0.7) 11.24%,
    rgba(0, 0, 0, 0) 108.29%
  );
  backdrop-filter: blur(144.131px);
  border-radius: 864.789px 864.789px 864.789px 0px;
}

.section-last {
  margin: 61px 1px;
  position: relative;
}

.section-last .gradiant-sq {
  box-sizing: border-box;
  width: 80%;
  height: 493px;
  margin: auto;
  background: linear-gradient(
    237.45deg,
    rgba(20, 19, 30, 0.36) 33.29%,
    rgba(8, 8, 16, 0) 101.5%
  );
  backdrop-filter: blur(87px);
  border-radius: 800px;
  z-index: 99;
  padding: 30px;
  border: 1px solid #ffffff42;
  overflow: hidden;
}

.section-last .gradiant-ball {
  position: absolute;
  width: 370px;
  height: 523px;
  right: 8px;
  top: 2.08px;
  background: linear-gradient(
    167.09deg,
    rgba(204, 83, 163, 0.99) -14.11%,
    rgba(213, 80, 80, 0) 90.68%
  );
  opacity: 0.53;
  border-radius: 0px 400px 0px 0px;
  transform: matrix(-1, -0.02, -0.02, 1, 0, 0);
  z-index: -1;
}

.section-last .gradiant-left {
  position: absolute;
  left: -56px;
  top: 93px;
  background: linear-gradient(
    215deg,
    rgb(65 30 58) 23.19%,
    rgb(0 0 0 / 4%) 108.29%
  );
  backdrop-filter: blur(227.947px);
  border-radius: 1000px 1000px 1000px 100px;
  width: 550px;
  height: 550px;
  z-index: -1;
}
.tags {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 8px 0px;
  width: 96px;
  background: #98989863;
  backdrop-filter: blur(13px);
  border-radius: 200px;
  color: white;
  border: 1px solid #88888847;
  position: absolute;
  align-content: center;
  justify-content: center;
}
.inner-heading {
  position: relative;
  width: 80%;
  margin: auto;
}
.inner-heading h1 {
  font-weight: 300;
  font-size: 90px;
  top: 10px;
  text-align: center;
  color: #ffffff;
  margin-top: 45px;
}

.t1 {
  left: 16%;
  top: 32%;
  transform: rotate(-14.25deg);
}

.t2 {
  right: 17%;
  top: 7%;
  transform: rotate(9deg);
}

.section-last .inner-heading p {
  width: 512px;
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  text-align: center;
  margin: auto;
  color: #ffffff;
  margin-top: 28px;
}
.section-last .animation-sec {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section-last .animation-sec button {
  padding: 13px 47px;
  width: 288px;
  background: linear-gradient(
    132.67deg,
    rgba(241, 102, 51, 0.8) -5.44%,
    rgba(253, 45, 125, 0.8) 101.81%
  );
  border: none;
  border-radius: 50px;
  font-size: 18px;
  color: white;
}

.tags.tt1t {
  bottom: -117px;
  z-index: -83;
  width: 143px;
  left: 23%;
  transform: rotate(16deg);
  padding: 12px;
  background: #2c2c2c3d;
}

.tags.tt2t {
  bottom: -112px;
  z-index: -104;
  width: 145px;
  left: 34%;
  transform: rotate(340deg);
  padding: 12px;
  background: #2c2c2c3d;
}

.tags.tt3t {
  bottom: -125px;
  z-index: -116;
  width: 146px;
  left: 41%;
  transform: rotate(20deg);
  padding: 12px;
  background: #2c2c2c3d;
}

.tags.tt4t {
  bottom: -104px;
  z-index: -115;
  width: 146px;
  left: 50%;
  transform: rotate(337deg);
  padding: 12px;
  background: #2c2c2c3d;
}
.tags.tt5t {
  bottom: -127px;
  z-index: -112;
  width: 143px;
  left: 59%;
  transform: rotate(25deg);
  padding: 12px;
  background: #2c2c2c3d;
}
.tags.tt6t {
  bottom: -116px;
  z-index: -112;
  width: 143px;
  left: 69%;
  transform: rotate(340deg);
  padding: 12px;
  background: #2c2c2c3d;
}

/* banner css----------------------- */
.main-hero {
  text-align: center;
  max-width: 910px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.main-hero .hero_box2 {
  margin: 0 auto;
  position: relative;
  z-index: 111;
  width: auto;
  display: inline-block;
}
.main-hero .hero_box2 img {
  width: 88%;
}
.main-hero .hero_box1 {
  position: absolute;
  top: 28%;
  left: -3%;
  z-index: 0;
}
.main-hero .hero_box1 img {
  width: 100%;
}
.main-hero .hero_box3 {
  position: absolute;
  top: 16%;
  right: -12%;
  z-index: 0;
}
.main-hero .hero_box3 img {
  width: 96%;
}
.banner-text {
  text-align: center;
  position: relative;
  z-index: 9999999;
  margin-top: -20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 400;
  font-size: 68px;
  letter-spacing: 3px;
  line-height: 84px;
}
.banner-text h2 span {
  color: rgb(245, 34, 83);
}
.theme-btn {
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  padding: 20px 50px;
  border-radius: 40px;
  background: linear-gradient(132.67deg, #f16633cc -5.44%, #fd2d7dcc 101.81%);
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-device-width: 1450px) and (max-device-width: 1600px) {
  .categories-section .left-g {
    left: -14%;
  }

  .categories-section .right-g {
    right: -19%;
  }
}
@media (min-width: 1600px) {
  .categories-section .left-g {
    left: -5%;
  }

  .categories-section .right-g {
    right: -11%;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  .section-vector .card-u .image {
    width: 572px;
    height: 344.29px;
  }

  .c1 {
    left: 130.09px;
    top: 183px;
  }

  .c2 {
    left: 350px;
    top: 689px;
  }

  .c3 {
    left: 101.09px;
    top: 1335.38px;
  }

  .c4 {
    left: 286px;
    top: 1932.07px;
  }

  .last-peformers h1 {
    margin-top: 211px;
  }

  .marquee-container.bottom {
    right: -216px;
    bottom: 93px;
  }

  .t1 {
    left: 4%;
    top: 32%;
    transform: rotate(-14.25deg);
  }

  .t2 {
    right: 6%;
    top: 7%;
    transform: rotate(9deg);
  }
}

.rectangle-group > div {
  cursor: pointer;
}

.card-u h1 {
  transition: 0.4s;
}
.card-u:hover h1 {
  opacity: 1;
  color: #fff;
}
.card-u img {
  transition: 0.8s;
}
.card-u:hover img {
  transform: rotate(-20deg) scale(1.1);
  filter: brightness(2.5);
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-container {
  position: relative;

  padding: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px #0000004d;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.popup-image {
  max-width: 100%;
  max-height: 100%;
}

.marquee-container {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19.9834px 53.276px;
  gap: 5.07px;
  position: absolute;
  width: 50%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.15) 59.9%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1.01478px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20.0419px);
  transform: matrix(0.83, -0.55, 0.55, 0.83, 0, 0);
  z-index: 2;
}

.marquee-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 34.9709px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.marquee-container.top {
  left: -110px;
  top: 78px;
}

.marquee-container.bottom {
  right: -280px;
  bottom: 133px;
}
